/* Styles go here */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
.azulAtomicBG{
background-color:#0172c1
}
.azulAtomicTx{
  color :#0172c1;
}

body {
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.left, .navbar .left { float: left; }
.right,.navbar .right {float: right;}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: #3591d2;
}
#logo {
  height: 29px;
  position: relative;
  top: 22px;
  left: 20px;
}
/*end nav*/

#inicio {
  padding-top: 65px;
}
.texto_inicio{
  color: #737373;
  text-align: center;

  margin-top: 10%;
}
.texto_inicio h1{
   font-size: 3em;
  font-weight: 100;
  text-align: center;
}
.saludo {
  padding: 20vh 0px;
  background: url(img/fondo_ini.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
}
.saludo img {
  height: 150px;
  position: relative;
  animation: aparecer_logo 1s ease;
}
@keyframes aparecer_logo {
  0% {top: 30px; opacity: 0;}
  60% {top: 30px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}
.texto_inicio p{
  font-size: 21px;
  max-width: 600px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0px auto;
  font-weight: 300;
}
/** seccion pedido**/
#pedir{
  margin: 10%
}
#pedir .cont_pedir {
  position: relative;
  text-align: center;
}
#pedir div center {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.imagen_pedir {
  display: inline-block;
  vertical-align: middle;
}
.cuadrado {
    width: 100px;
    height: auto;
    z-index: 1;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
}
.cuadrado h1 {
    color: #fff;
    font-size: 1em;
    text-align:left;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.boton{
  background: #0172c0;
  color: #ffffff;
  width: auto;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}
.text {
  font-size: 35px;
  max-width: 600px;
  padding: 30px 0px;
  margin: 0px auto;
  text-align: left;
   margin-left: 40px;
  font-weight: 100;
  color:  #737373;
}
.link {
  margin-top:20px;
}